---
import Layout from "../layouts/Layout.astro";
import AdviceCard from "../components/Card.astro";
---

<Layout title="Advice generator">
  <main class="main">
    <AdviceCard />
  </main>
</Layout>

<style lang="scss">
  .main {
    display: grid;
    place-content: center;
    height: 100%;
  }
</style>
